html, body{
	width: 100%;
	height: 100%;
	background-color: white;
}

.header{
	background: url(../img/1.jpg) center bottom no-repeat;
	background-size: cover;
	width: 100%;
	height: 780px;
}

.container-header{
	width: 570px;
	margin-top: 150px;
	background-color: rgba(255, 255, 255, 0.77);
}

.container-header h1{
	font: 57pt 'Roboto Condensed', sans-serif;
	color: #646464;
	text-shadow:0px 3px 1px #dbdbdb,0px 5px 0px #979797;
	font-weight: 700;
	padding-top: 10px;
}

.container-header .ribbon-text{
	background: url(../img/ribbon1-lg.png);
	width: 670px;
	height: 38px;
	margin-left: -66px;
}

.container-header h2{
	font: 16pt Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #ececec;
}

.container-header h3{
	font: 18pt Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	background-color: #d0d0d0;
	display: inline-block;
	margin-left: 20px;
	padding: 2px;
}

.container-header h3 > a{
	color: #ffffff;
}

.container-header p,
.social{
	font: 16pt Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #5a5a5a;
	padding: 10px 30px;
}

.social{
	float: right;
}

@media screen and (max-width: 1199px) {
	.container-header .ribbon-text{
		background: url(../img/ribbon1-md.png);
		width: 727px;
		height: 38px;
		margin-left: -66px;
	}
}

@media screen and (max-width: 991px) {
	.container-header .ribbon-text{
		background: url(../img/ribbon1-sm.png);
		width: 700px;
		height: 38px;
		margin-left: -65px;
	}
}

@media screen and (max-width: 768px) {
	.container-header h2{
		background-color: #505050;
	}
}

@media screen and (max-width: 612px) {
	.container-header{
		margin-top: 70px;
	}
	.container-header h1{
		font-size: 32pt;
		margin-top: 10px;
	}

	.container-header h2{
		font-size: 10pt;
		margin: 10px 0 ;
	}

	.container-header h3{
		font-size: 16pt;
		margin: 10px 0;
	}

	.container-header p{
		font-size: 10pt;
		text-align: justify;
		padding: 0;
	}

	.container-header h3,
	.social{
		padding: 0;
	}
}